
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5433/blog_fast_db

JWT_ALGORITHM=HS256
JWT_SECRET=SECRET
ACCESS_TOKEN_EXPIRY_MINUTE=30
REFRESH_TOKEN_EXPIRY_DAYS=1


REDIS_HOST=localhost
REDIS_PORT=6379