{% extends 'layout.html' %}
{% block title%}
Fatapi-blog | {{title}}
{% endblock title %}

 {% block css %}
  <link href="{{ url_for("static", path='website/accounts/css/index.css')}}" rel="stylesheet" type="text/css">

  {% endblock css %}

{% block content%}
<div class="container mt-4">
  <div class="row">

      <div class="col-md-4 mb-3">
        <div class="card shadow-sm h-100">
          <div class="card-body">
            <h5 class="card-title">

                {{ post.name }}
     
            </h5>
            <p class="card-text">
              Age: {{ post.age }}
            </p>
          </div>

        </div>
      </div>

  </div>
</div>
{% endblock content %}

{% block js%}


  {% endblock js%}